@use '../../../styles/global.scss';

.section6 {
    background: url('/images/bg_s6.png') no-repeat center 30px;
    .inner {
        height: 100vh;
        position: relative;
        padding: 150px 0;
        .works {
            height: auto;
            display: flex;
            gap: 70px;
            transform: translateY(0);
            .list {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 70px;
                &.right {
                    padding-top: 70px;
                }
                li {
                    border: 1px solid #000;
                    background-color: #fff;
                    display: flex;
                    .pic {
                        width: 380px;
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                    .info {
                        padding: 50px;
                        text-align: center;

                        .sub {
                            font-size: 28px;
                            margin-bottom: 20px;
                        }
                        .lip {
                            width: 200px;
                            margin-bottom: 25px;
                            position: relative;
                            img {
                                width: 100%;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transition: opacity 0.2s ease;
                            }
                            .default {
                                opacity: 1;
                                position: relative;
                            }
                            .hover {
                                opacity: 0;
                                &.on {
                                    opacity: 1;
                                }
                            }
                        }
                        .name {
                            font-family: 'pretendard';
                            font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                        .color {
                            font-size: 28px;
                            margin-bottom: 20px;
                        }
                        button {
                            border: 1px solid #999;
                            font-size: 20px;
                            width: 200px;
                            padding: 6px 0;
                            transition: 0.2s ease;
                        }
                        &:hover {
                            button {
                                border: 1px solid #000;
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
