@use '../../styles/global.scss';

.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    color: #000;
    z-index: 100;
    .inner {
        width: 1440px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        position: relative;
        a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .menu {
            cursor: pointer;
            font-size: 28px;
        }
        .icons {
            font-size: 16px;
            ul {
                display: flex;
                gap: 16px;
                li {
                    cursor: pointer;
                }
            }
        }
    }
    .menu_over {
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 0px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        &.open {
            max-height: 700px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        }
        .over_top {
            background-color: #000;
            color: #fff;
            height: 60px;
            .over_top_inner {
                width: 1440px;
                height: 60px;
                margin: 0 auto;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 30px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                p {
                    font-size: 30px;
                    cursor: pointer;
                }
            }
        }
        .over_inner {
            width: 1440px;
            margin: 0 auto;
            padding: 50px;
            display: flex;
            justify-content: space-between;
            font-family: 'Pretendard';
            h2 {
                font-size: 24px;
                font-weight: 400;
                font-family: 'Bebas Neue';
                margin-bottom: 10px;
            }
            h3 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .shop {
                display: flex;
                gap: 140px;
            }
            ul {
                li {
                    margin-bottom: 10px;
                    span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1px;
                            background: #000;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform 0.3s ease;
                        }
                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
