@use '../../../styles/global.scss';

.section2 {
    position: relative;
    background: url('/images/bg_s2.png') no-repeat;
    background-size: cover;
    height: 850px;
    text-align: center;
    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.5s ease;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 2;
        .title {
            font-size: 24px;
            font-weight: 600;
            font-family: 'pretendard';
            padding-top: 150px;
        }
        .items {
            margin-top: 50px;
            .slider-container {
                .slick-slider {
                    .slick-slide {
                        transition: all 0.3s ease;
                        transform: scale(0.7);
                        opacity: 0.5;
                        > div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .item {
                            width: 320px !important;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .pic {
                                position: relative;
                                width: 100%;
                                height: 320px;
                                margin-bottom: 50px;
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    transition: opacity 0.3s ease;
                                }
                                .img-default {
                                    opacity: 1;
                                }
                                .img-hover {
                                    opacity: 0;
                                }
                            }
                            p {
                                width: 100%;
                                font-size: 20px;
                                font-family: 'pretendard';
                                font-weight: 500;
                                margin-bottom: 25px;
                                text-align: center;
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.3s ease;
                            }
                            button {
                                border: 1px solid #000;
                                padding: 8px 50px;
                                background: transparent;
                                cursor: pointer;
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                    .slick-center {
                        transform: scale(1);
                        opacity: 1;
                        .item {
                            p {
                                opacity: 1;
                                visibility: visible;
                            }
                            button {
                                opacity: 1;
                                visibility: visible;
                            }
                            &:hover {
                                .pic {
                                    .img-default {
                                        opacity: 0;
                                    }
                                    .img-hover {
                                        opacity: 1;
                                    }
                                }
                                button {
                                    background-color: #000;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .slick-prev:before,
                .slick-next:before {
                    display: none;
                }
            }
        }
    }
}
