@use '../../../styles/global.scss';

.section7 {
    height: 300px;
    margin: 150px 0;
    background: url('/images/bg_s7.png') center/contain no-repeat fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    .go {
        position: relative;
        z-index: 2;
        color: #fff;
        text-align: center;
        p {
            font-size: 24px;
            font-family: 'Pretendard';
            font-weight: 600;
        }
        button {
            width: 290px;
            height: 50px;
            color: #fff;
            background-color: #000;
            font-size: 24px;
            font-weight: 400;
            margin-top: 20px;
        }
    }
}
