@import './reset';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    #wrap {
        width: 100%;
        position: relative;
        .inner {
            width: 1440px;
            margin: 0 auto;
        }
    }
}
