@use '../../../styles/global.scss';

.section8 {
    margin-bottom: 150px;
    .inner {
        .title {
            font-size: 44px;
            margin-bottom: 50px;
        }
    }
    .visual {
        width: 100%;
        height: 460px;
        background: #e8f3f8 url(/images/bg_s8.png) no-repeat right/contain;
        // background-color: #e8f3f8;
        // background-image: url('./images/bg_s8.png');
        // background-repeat: no-repeat;
        // background-position: right;
        // background-size: contain;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        video {
            object-fit: cover;
        }
    }
}
