@use '../../../styles/global.scss';

.section1 {
    position: relative;
    height: 810px;
    .bg_video {
        width: 100%;
        height: 810px;
        object-fit: cover;
        opacity: 0.5;
        filter: blur(5px) brightness(1.2);
    }
    .inner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        .inner_video {
            width: 1440px;
            object-fit: cover;
        }
        .content {
            line-height: 1;
            position: absolute;
            left: 120px;
            bottom: 120px;
            color: #fff;
            .new {
                font-size: 24px;
                margin-bottom: 5px;
            }
            .desc {
                font-size: 24px;
                font-family: 'pretentard';
                margin-bottom: 30px;
            }
            .title_1 {
                font-size: 40px;
            }
            .title_2 {
                font-size: 60px;
                margin-bottom: 40px;
            }
            button {
                color: #fff;
                border: 1px solid #fff;
                font-size: 20px;
                padding: 10px 48px;
                line-height: 1;
            }
        }
    }
}
