@use '../../styles/global.scss';

.top {
    z-index: 1000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 48px;
    width: 52px;
    height: 52px;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.show {
    opacity: 1;
    visibility: visible;
}
